
#content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
}

#content .gallery-content {
    width: 100%;
    margin: auto;
    display: none;
}

#content .gallery-item {
    flex-direction: row;
    /* float: left; */
    width: calc(100% / 3);
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#content .gallery-content img {
    width: 13rem;
    display: block;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: 10px;
    border-radius: 50%;
}

#content .gallery-item:hover {
    transform: scale(1.2);
}