* {
    margin: 0;
    box-sizing: border-box;
}

#wrap {
    max-width: 1000px;
    height: auto;
    display: block;
    margin: auto;
    padding-top: 30px;
}

.banner {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.banner .banner-menu {
    width: 200px;
    list-style: none;
    padding: 0;
    background-color: white;
    position: relative;
}

.banner-menu .sub-banner-menu {
    width: 200px;
    list-style: none;
    padding: 0;
    background-color: white;
    position: absolute;
    top: 0;
    left: 200px;
    display: none;
}

.banner-menu .sub-sub-banner-menu {
    width: 200px;
    list-style: none;
    padding: 0;
    background-color: white;
    position: absolute;
    top: 0;
    left: 200px;
    display: none;
}

.banner .item .item-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: calc(281.63px / 96);
    padding-bottom: calc(281.63px / 96);
}

.banner-menu .item a {
    text-decoration: none;
}

.banner-menu .item:hover .sub-banner-menu {
    display: block;
}

.sub-banner-menu .item:hover .sub-sub-banner-menu {
    display: block;
}

.item .item-bar p {
    color: gray;
}

.item .item-bar i {
    color: orangered;
    display: none;
}

.item a:hover p {
    color: orangered;
}

.item a:hover i {
    display: block;
}

.item a:hover .item-bar {
    background-color: whitesmoke;
}

.banner-img {
    width: calc(100% - 200px);
    height: auto;
}

.banner-img img {
    max-width: 100%;
    height: auto;
    display: block;
}