table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  #container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #add-item-table {
    display: none;
  }
  