<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="./font/themify-icons/themify-icons.css">
</head>
<body>
    <div class="wrap">
        <div class="path-bar">
            <p>Trang chủ</p>
            <p class="arrow">></p>
            <p>Lịch khai giảng</p>
        </div>

        <div class="main-content">
            <div class="posts">
                <div class="post-item">
                    <div class="calendar">
                        <div class="year">
                            <p>2022</p>
                        </div>
                        <div class="day-month">
                            <p class="day">
                                <h1>21</h1>
                            </p>
                            <p class="month">Tháng 5</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="content-title">
                            <p>Lộ trình đào tạo DevOps</p>
                        </div>

                        <div class="content-info">
                            <div class="weekly">
                                <i class="ti-calendar"></i>
                                <span>Thứ 3, 7</span>
                            </div>
                            <div class="hour">
                                <i class="ti-time"></i>
                                <span>span18:30 - 21:00</span> 
                            </div>
                            <div class="place">
                                <i class="ti-location-pin"></i>
                                <span>Cơ sở Tố Hữu</span>
                            </div>
                            <a href="#">
                                Đăng ký
                            </a>
                        </div>
                    </div>
                </div>

                <div class="post-item">
                    <div class="calendar">
                        <div class="year">
                            <p>2022</p>
                        </div>
                        <div class="day-month">
                            <p class="day">
                                <h1>21</h1>
                            </p>
                            <p class="month">Tháng 5</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="content-title">
                            <p>Lộ trình đào tạo DevOps</p>
                        </div>

                        <div class="content-info">
                            <div class="weekly">
                                <i class="ti-calendar"></i>
                                <span>Thứ 3, 7</span>
                            </div>
                            <div class="hour">
                                <i class="ti-time"></i>
                                <span>span18:30 - 21:00</span> 
                            </div>
                            <div class="place">
                                <i class="ti-location-pin"></i>
                                <span>Cơ sở Tố Hữu</span>
                            </div>
                            <a href="#">
                                Đăng ký
                            </a>
                        </div>
                    </div>
                </div>

                <div class="post-item">
                    <div class="calendar">
                        <div class="year">
                            <p>2022</p>
                        </div>
                        <div class="day-month">
                            <p class="day">
                                <h1>21</h1>
                            </p>
                            <p class="month">Tháng 5</p>
                        </div>
                    </div>

                    <div class="content">
                        <div class="content-title">
                            <p>Lộ trình đào tạo DevOps</p>
                        </div>

                        <div class="content-info">
                            <div class="weekly">
                                <i class="ti-calendar"></i>
                                <span>Thứ 3, 7</span>
                            </div>
                            <div class="hour">
                                <i class="ti-time"></i>
                                <span>span18:30 - 21:00</span> 
                            </div>
                            <div class="place">
                                <i class="ti-location-pin"></i>
                                <span>Cơ sở Tố Hữu</span>
                            </div>
                            <a href="#">
                                Đăng ký
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gmap">
   
            </div>
        </div>
    </div>
</body>
</html>