* {
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrap {
    max-width: 1000px;
    margin: auto;
    height: auto;
    /* background-color: aqua; */
}

#content {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #170f23;
    padding: 15px 5%;
}

.song {
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.singer {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.singer .singer-img img {
    width: 50px;
    height: auto;
    border-radius: 5%;
}

.singer .singer-text {
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.singer .singer-text h4 {
    color: rgb(179, 165, 165);
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding: 2.5px 0;
}

.singer .singer-text p {
    color: white;
    font-weight: bold;
    padding: 2.5 0;
}

.song-list {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.song-item {
    width: calc(100% / 5.5);
    min-width: 170px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2.5px 0 10px 0;
    position: relative;
}

.song-item .song-name {
    color: white;
    opacity: 0.6;
    font-size: 10px;
    padding: 10px 0 5px 0;
}

.song-item p {
    color: gray;
    opacity: 0.6;
    font-size: 10px;
    font-weight: bold;
}

.song-item img {
    width: 100%;
    border-radius: 3%;
}

.song-item i {
    position: absolute;
    font-size: 50px;
    color: white;
    top: calc((170px - 50px) / 2);
    left: calc((170px - 50px) / 2);
    opacity: 0;
}

.new-song {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0;
}

.song-item:hover .song-name {
    opacity: 1;
}

.song-item:hover p {
    opacity: 1;
}

.song-item:hover .play-btn {
    opacity: 0.5;
}

.link-play-btn:visited {
    color: #61ff01;
    font-size: 100px;
}

.new-song-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.new-song-title h3 {
    color: white;
    font-size: 14px;
}

.gen-list {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gen-item {
    width: calc(100% / 5.5);
    min-width: 170px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.gen-img {
    display: flex;
    color: black;
    position: relative;
    text-align: center;
}

.vpop-box {
    border-bottom: 5px solid #61ff01;
    border-radius: 3%;
}

.vpop-month {
    color: #61ff01;
}

.usuk-box {
    border-bottom: 5px solid #64fee9;
    border-radius: 3%;
}

.usuk-month {
    color: #64fee9;
}

.kpop-box {
    border-bottom: 5px solid #fbeb01;
    border-radius: 3px;
}

.kpop-month {
    color: #fbeb01;
}

.cpop-box {
    border-bottom: 5px solid #4ab4ff;
    border-radius: 3%;
}

.cpop-month {
    color: #4ab4ff;
}

.vindie-box {
    border-bottom: 5px solid #f27104;
    border-radius: 3%;
}

.vindie-month {
    color: #f27104;
}

.gen-img img {
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.gen-img .gen-title {
    position: absolute;
    bottom: 25px;
    left: 15px;
    color: white;
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 10px 0 5px 0;
}

.gen-img .month {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-weight: bold;
    font-size: 10px;
}

.gen-item .gen-title-month {
    font-size: 10px;
    color: white;
    padding: 10px 0 5px 0;
}

.gen-item .singer-list {
    font-size: 10px;
    color: grey;
    width: 100%;
}

.gen-item:hover .gen-img .gen-title {
    position: absolute;
    bottom: 25px;
    left: 15px;
    color: white;
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 10px 0 5px 0;
    transition: linear;
}

.gen-item:hover img {
    opacity: 0.2;
}

.gen-item:hover .gen-title-month {
    opacity: 0.2;
}

.gen-item:hover .singer-list {
    opacity: 0.2;
}

.vpop-box:hover {
    border-bottom: 5px solid rgba(97, 255, 1, 0.2);
    border-radius: 3%;
}

.usuk-box:hover {
    border-bottom: 5px solid rgba(100, 254, 233, 0.2);
    border-radius: 3%;
}

.kpop-box:hover {
    border-bottom: 5px solid rgba(251, 235, 1, 0.2);
    border-radius: 3%;
}

.cpop-box:hover {
    border-bottom: 5px solid rgba(74, 180, 255, 0.2);
    border-radius: 3%;
}

.vindie-box:hover {
    border-bottom: 5px solid rgba(242, 113, 4, 0.2);
    border-radius: 3%;
}
