* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: center;
}

.item-info {
    display: flex;
    justify-content: center;
    width: 100%;
}

.item-photo img {
    width: 250px;
}

.item-content {
    margin-top: 40px;
}

.item-content p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.back-btn a {
    text-decoration: none;
    color: green;
    margin-left: 24px;
    font-size: 28px;
}