* {
    margin: 0;
    box-sizing: border-box;
}

#wrap {
    max-width: 1000px;
    height: auto;
    display: block;
    margin: auto;
}

.banner {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
}

.banner-menu {
    width: 200px;
    height: 100%;
    background-color: yellow;
}

.banner-img {
    width: calc(100% - 200px);
    height: auto;
    display: block;
}

.banner-img img {
    max-width: 100%;
    height: auto;
}