* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Media Query */
@media only screen and (max-width: 768px) {
    html {
        font-size: 11px;
    }
    .slider-text-content {
        font-size: 30px;
    }
    button.nav-btn:hover {
        border-bottom: 2px solid #b63327;
        padding-bottom: 3.5px;
        color: #b63327;
    }
    .travel-news-slider-pc {
        display: none;
    }
}

@media only screen and (min-width: 769px) {
    .slider-text-content {
        font-size: 70px;
    }
    button.nav-btn:hover {
        border-bottom: 2px solid #b63327;
        padding-bottom: 6px;
        color: #b63327;
    }
    .travel-news-slider-mobile {
        display: none;
    }
}

/* Hover */


/* Main css */
.container-fluid {
    padding: 0;
}

#wrap {
    height: 5000px;
    /* background-color: aqua; */
}

#nav-bar {
    border-bottom: 1px solid #e1e1e1;
}

img {
    max-width: 100%;
    height: auto;
}

.nav-btn {
    border: none;
    outline: none;
    background-color: inherit;
    font-weight: 600;
}

/* .active {
    border-bottom: 1px solid red;
    color: brown !important;
} */

.slide-item {
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slider-text-content {
    color: #FFE4E1;
}

/* Style */
.card-body-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-style {
    border-radius: 4%;
}

.test-border {
    border: 1px solid red;
    height: auto;
}
.g {
    background-color: green;
}

.b {
    background-color: blue;
}

.r {
    background-color: red;
}