* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

pre {
    margin: 0;
}

.addRowBtn {
    opacity: 0;
}

.addBlankRowBtn {
    opacity: 0;
}

.removeRowBtn {
    opacity: 0;
}

.addRowBtn:hover {
    opacity: 100;
}

.editQrCodeBtn {
    opacity: 0;
}

.addBlankRowBtn:hover {
    opacity: 100;
}

.removeRowBtn:hover {
    opacity: 100;
}

.editQrCodeBtn:hover {
    opacity: 100;
}